<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
	<p><img src="{{ site.baseurl }}/img/cover.jpg" alt="Soham's workstation" /></p>

	<pre>
	OFFICE: C160, <a href="https://www.dal.ca/campus-maps/building-directory/sexton-campus.html" target="_blank">Sexton Campus</a>
	Email: soham AT dal DOT ca
	</pre>

	<p> I am a MASc candidate in the <a href="https://ece.dal.ca" target="_blank">Department
		of Electrical and Computer Engineering</a> at the <a href="https://www.dal.ca" target="_blank">Dalhousie
			University</a>, supervised by Jason Gu<em>, PhD, PEng., FEIC, FCAE, IEEE Canada
			President-elect, 2018-2019</em>. My research interest broadly lie in Signal
			Processing, Machine Learning, Deep Learning and Artificial Intelligence.
	</p>

	<p> Aside from academia, when not working or reading, I play badminton, soccer,
		table tennis, swim or
	<a href="https://soundcloud.com/sohambhattacharyya" target="_blank">sing</a>
	for myself.
	</p>
</div>
