<h1><span data-i18n="skills.my_skills">About</span></h1>

<p><img src="{{ site.baseurl }}/img/cover.jpg" alt="Soham's workstation" /></p>

<div>
	<p> Hello, I'm soham. I'm 22 years old and I am deeply passionate about DSP, Statistics, Optics, Semiconductor Physics, Networks and Communications, Microelectronics, Computer Vision, Machine Learning, Deep Learning, Neural Network, AI, VLSI and Embedded Electronics.</p>

	<p> I spent most of my undergraduate years learning new skills related to my major, with as much practical experience as I could. I am comfortable with Linux and when I'm not working, I play table tennis or <a href="https://soundcloud.com/sohambhattacharyya" target="_blank">sing</a> for myself.</p>

	<p> Check out my <a href="https://www.linkedin.com/in/soham-bhattacharyya" target="_blank">LinkedIn</a> for projects, achievements and other academic information. Drop me a <a href="mailto:soham1.618@gmail.com?subject=Hello from website">mail</a> for anything.
</div>