<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
	<p><img src="{{ site.baseurl }}/img/cover.jpg" alt="Soham's workstation" /></p>
	
	<!-- <pre style="text-align: left; white-space: pre-line">
		OFFICE: C160, <a href="https://www.dal.ca/campus-maps/building-directory/sexton-campus.html" target="_blank">Sexton Campus</a>
		Email: soham@dal.ca
	</pre> -->

	<p>
		I’m working on LLM, Deep Learning, Computer Vision and Image Processing at TCS in India. Before that, I did my MASc (Master of Applied Science) in Electrical and Computer Engineering from Dalhousie University, Canada. I was supervised by Prof. Dr. Jason Gu (President, IEEE Canada, 2020-2021). The title of my thesis was "Improved Artificial Potential Field Method for Robotic Path Planning".
	</p>
	<!-- <p> I am a MASc candidate in the <a href="https://ece.dal.ca" target="_blank">Department
		of Electrical and Computer Engineering</a> at the <a href="https://www.dal.ca" target="_blank">Dalhousie
			University</a>, supervised by <a href="https://www.dal.ca/faculty/school-biomedical-engineering/our-people/our-faculty-atok/JasonGu.html" target="_blank">
			Prof. Dr. Jason Gu</a>. My research interests lie broadly in Robotics, 
			Machine Learning, Deep Learning, Signal Processing, and Artificial Intelligence.
	</p> -->

	<!-- <p> Aside from academia, when not working or reading, I play badminton, soccer,
		table tennis, swim or
	<a href="https://soundcloud.com/sohambhattacharyya" target="_blank">sing</a>
	for myself.
	</p> -->
</div>
