/* LAYOUT CSS */
.cover {
  background-color: $background-color;  
  background-image: url("background.gif");
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: #F8F8F8;
  padding: 0 30px;
  .avatar {
    border-radius: 10%;
    width: 100px;
    height: 100px;
    float: none;
    @include media-query($medium-screen) {
    margin-right: 0px;
    margin-bottom: 8px;
    }
  }
  .author_name {
    display: block;
    color: #F83E4B;
    font-size: 1.75em;
    text-transform: lowercase;
    font-family: $font-family-monospace;
  }
  .author_job {
    display: block;
    color: #f3cb65;
    font-size: 0.8em;
    font-weight: 700;
    
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 90%;
    display: block;
    color: #FFFFFF
  }
  @include media-query($medium-screen) {
    text-align: right;
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: #F8F8F8;
        &:hover,
        &:focus {
          color: lighten(#F83E4B, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 85%;
      color: #adc163;
      &:hover,
      &:focus {
        color: lighten(#42B9A2, 14%);
      }
    }
  }
}
